[package]
name = "git-ignore-generator"
version = "0.2.0"
authors = ["Sondre Nilsen <nilsen.sondre@gmail.com>"]
homepage = "https://github.com/sondr3/git-ignore"
description = "Quickly and easily fetch .gitignore templates from www.gitignore.io"
repository = "https://github.com/sondr3/git-ignore"
documentation = "https://github.com/sondr3/git-ignore"
readme = "README.md"
license = "GPL-3.0-or-later"
edition = "2018"
build = "build.rs"

[[bin]]
name = "git-ignore"
path = "src/main.rs"

[profile.release]
lto = "thin"

[features]
fail-on-warnings = []

[dependencies]
structopt = "0.2"
reqwest = "0.9"
directories = "1.0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
colored = "1.7.0"

[build-dependencies]
man = "0.3.0"